body {
    padding:0;
    margin:0;
    background:#ffffff;
}


.phone {
    width: 1550px;
    height:auto

}

.connectivity {
    width: 1550px;
    height:auto
}

.distraction {
    width: 1550px;
    height:auto

}

.information {
    width: 1550px;
    height:auto

}

.dependency {
    width: 1550px;
    height:auto

}

.alienation {
    width: 1550px;
    height:auto

}

